h1 {
    text-align: center;
}

#registroProductos {
    margin-left: 20%;
    margin-top: 1%;
    float: left;
}

#registroMovimientos {
    margin-right: 20%;
    margin-top: 0.2%;
    float: right;

}

#tablaProductos {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20%;
}

label {
    display: inline-block;
    width: 150px; 
    text-align: right;
    margin-right: 10px;
}

input {
    width: 200px; 
    padding: 5px;
    margin-bottom: 10px;
}