body{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-color: rgb(255, 232, 211);
}

h1 {
    text-align: center;
}

#registroProductos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 400px;
    margin-top: 25px;
}
#registroProductos form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
#registroProductos form button{
    margin-top: 10px;
}

#registroMovimientos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 400px;
    margin-top: 25px;
}
#registroMovimientos form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#registroMovimientos form button{
    margin-top: 10px;
}

#tablaProductos {
    margin-top: 30px;
    min-width: 405px;
}
@media (min-width: 500px) {
    #tablaProductos {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 405px;
}